/* In components.css or page.module.css */
.menuButton {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1b1b1b; /* Dark background */
  color: white;
}

.main {
  display: flex;
  flex-grow: 1;
  padding: 20px;
  background-image: url("/images/Campaign_test.png"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  position: relative;
  align-items: center;
}

.campaignContent {
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent overlay for contrast */
  padding: 20px;
  max-width: 400px; /* Limit the width for alignment on the left */
  border-radius: 10px;
  text-align: left; /* Align text to the left */
}

.campaignTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ffffff; /* Accent color for title */
}

.description {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.progressContainer {
  margin: 1rem 0;
  text-align: left;
}

.progressBar {
  background-color: #444;
  height: 8px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.progress {
  background-color: #4caf50; /* Progress color */
  width: 10%; /* Set to match the percentage progress */
  height: 100%;
}

.progressText {
  font-size: 0.9rem;
  color: #bbb;
}

.donationOptions {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.donateButton {
  display: block;
  margin: 20px auto; /* Center horizontally and add some vertical space */
  background-color: #a201ff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.donateButton:hover {
  background-color: #5f0096;
}

.footerContent {
  text-align: center;
  padding: 20px;
}

.learnMoreButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0070f3; /* Customize the color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.learnMoreButton:hover {
  background-color: #005bb5; /* Hover effect */
}


.footer {
  text-align: center;
  font-size: 0.8rem;
  color: #888;
  padding: 10px 0;
  background-color: #1b1b1b;
}
